* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
    font-family: 'Poppins', sans-serif;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

}

:root {
    --text-color: black;
    --button-black-color: rgba(0, 0, 0, 0.846);
    --button-black-hover-color: rgba(0, 0, 0, 0.946);

    --light-color: #343535;
    --lightExtra-color: #525555dc;
    --lightStrong-color: #52555527;
    --lightHover-color: rgba(128, 128, 128, 0.122);
    --background-color: #E2E5E6;
    --Box--shaodow: rgba(0, 0, 0, 0.1)
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}



.cursor-dot {
    height: 8px;
    width: 8px;
    background-color: black;
    z-index: 1000;


}

.curosr-outline {
    height: 40px;
    width: 40px;
    z-index: 1000;

}

.curosr-outline,
.cursor-dot {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

}



header {
    position: fixed;
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    z-index: 1;

}

.nav-right {
    display: inline-block;
    align-items: center;
    padding-right: 40px;
    position: relative;
}



.alp {
    color: var(--text-color);

    font-size: clamp(1.5rem, 2.5vw + 1rem, 2.2rem);



}



.nav-right a {
    position: relative;
    padding: 0 10px;
    text-decoration: none;
    color: var(--text-color);

}

.nav-right a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 90%;
    height: 2px;
    background-color: var(--text-color);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.nav-right a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.toggle-hamburger {
    display: none;
    font-size: 20px;



}


a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 550;
}




.sidebar {
    position: fixed;
    top: 0;
    left: 0;

    width: 300px;
    height: 100vh;

    display: flex;
    transform: translateX(-150%);
    flex-direction: column;
    padding: 0 20px;

    transition: all 0.4s ease;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);

    z-index: 9;

}


.user_details {
    display: flex;
    gap: 10px;
    margin-top: 25px;
}

.user_details p {
    text-align: center;
    font-size: 13px;
    color: var(--lightExtra-color);
}

.user_details h5 {
    color: var(--text-color);
}

.user_details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.sidebar_Content {
    display: flex;
    justify-content: left;

    flex-direction: column;
    gap: 8px;
    padding: 10px 0 0 0;
    margin-top: 25px;
    height: inherit;


}

.sidebar_Content a {
    font-size: 18px;
    font-weight: 400;
    padding: 4px 10px;
    border-radius: 3px;
    color: var(--light-color);
}

.sidebar_Content a:hover {
    background-color: var(--lightHover-color);
    color: var(--text-color);


}


.tech_stacks {
    color: var(--text-color);
    font-size: 13px;
    border-top: 1px solid var(--lightStrong-color);
    padding-top: 15px;
    margin-bottom: 30px;

}


.stacks {
    padding-top: 5px;
}

.stacks li {
    display: inline-block;
    padding: 3px 5px;
    margin: 2px;
    list-style: none;
    border-radius: 5px;
    background-color: var(--lightStrong-color);
}

/* ----------------------------UNIVERSAL SECTION----------------------- */


.user_info {
    font-family: monospace;
    white-space: nowrap;
    display: inline-flex;

    overflow: hidden;
    border-right: 1px solid var(--text-color);
    animation: blink 0.7s step-end infinite;

}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: var(--text-color);
    }
}




section {
    height: 100vh;
    width: 100vw;
}

/* ---------------------------------------HERO SECTION----------------------------- */

#Hero_Section {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    overflow: hidden;
    position: relative;


}

.Hero_Details {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Hero_Details .profile_pic {
    position: relative;
    display: inline-block;
    /* overflow: hidden;            */
}

.Hero_Details .profile_pic img {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: block;

}

.Hero_Details .profile_pic::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 240px;
    background: linear-gradient(135deg,
            #2e2f2f,
            #525555,
            #e2e5e6,
            #6f8961,
            #ca8c72,
            #9a596a,
            #424444,
            #2e2f2f);
    background-size: 400% 400%;
    border-radius: 50%;
    z-index: -1;
    filter: blur(3px);
    animation: metallicShift 20s ease infinite;
}

@keyframes metallicShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#user_info_hero {
    margin-top: 5px;
    font-size: clamp(1rem, 1vw + 0.4rem, 1.1rem);
    height: 20px;
    color: var(--text-color);
    color: var(--light-color);

}

.Hero_Details span {
    font-size: clamp(1rem, 1vw + 0.4rem, 1.1rem);
    height: 20px;
    margin-top: 10px;
    font-family: monospace;
    color: #007bff;


}

.profile_pic {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.profile_pic span {
    font-family: monospace;
    font-weight: 700;
    color: #007bff;

}



.profile_pic p {
    font-family: monospace;
    color: var(--light-color);
    margin-top: 15px;
    font-size: clamp(0.8rem, 1vw + 0.1rem, 1.1rem);
    text-align: center;
}


.user_info_details {
    color: var(--lightExtra-color);
    margin-top: 19px;
    padding: 0 20px;
    text-align: center;
}


.button_group {
    display: flex;
    gap: 10px;
}

.button_group button {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 1vw + 0.1rem, 1.4rem);

}

.button_group button span {
    color: white;
    display: block;
    transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}

.button_group .view_work .top {
    transform: translateY(-20%);
}

.button_group .view_work .bottom {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(120%);
}

.button_group .view_work {
    position: relative;
    background-color: var(--text-color);
    color: white;

}


.button_group .view_work:hover {
    background-color: var(--text-color);
    color: white;
    transition: all 0.3s ease;

    .top {
        transform: translateY(-300%);
    }

    .bottom {
        transform: translateY(-176%);
    }

}




.button_group .Contact_me {
    color: var(--text-color);
    background-color: transparent;
    font-weight: 500;

}

.button_group .Contact_me:hover {
    background-color: var(--text-color);
    color: white;
    transition: all 0.3s ease;

}

.social_Medials {
    display: flex;
}

.social_Medials a {
    padding: 2px 4px;
    color: var(--text-color);
    font-size: clamp(1rem, 1vw + 3rem, 1.6rem);
    border-radius: 50%;

}



.social_Medials a:hover {
    scale: 1.1;
    background-color: var(--text-color);
    color: white;

    transition: all 0.3s ease;
}









/* ---------------------------Tech Stack & Tools---------------------------------------------- */



#techstack {
    padding: 6rem 2rem;
    text-align: center;
}

.tech-container {
    max-width: 1100px;
    margin: auto;
}

.tech-container h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.tech-container p {
    color: #555;
    max-width: 700px;
    margin: 0 auto 3rem;
    line-height: 1.6;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 2fr));
    gap: 1.2rem;
    justify-items: center;
}

.tech-item {
    background: #f2f4f871;
    padding: 1rem 1.2rem;
    border-radius: 4px;
    font-weight: 500;
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 130px;
    width: 130px;
    overflow: hidden;

}



.tech-item:hover {
    transform: translateY(-5px);
}






.tech-item i {
    font-size: 1.7rem;
    display: block;
    margin-bottom: 8px;
}

.level {
    display: block;
    font-size: 0.9rem;
    margin-top: 5px;
    font-weight: 600;
}

.level.beginner {
    color: #4caf50;
}

.level.intermediate {
    color: #c77905;
}

.level.advanced {
    color: #f44336;
}

/* ---------------------------Projects---------------------------------------------- */

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.projects-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.projects-container p {
    margin-bottom: 40px;
    color: var(--lightExtra-color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.project-item {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    background: #f2f4f8ee;


    color: var(--text-color);

    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 20px;
    text-align: left;
}

.project-info h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.project-info p {
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.project-info .tech {
    font-style: italic;
    color: var(--light-color);
    margin-bottom: 15px;
}





.button_group .github {
    position: relative;
    background-color: var(--text-color);

}

.button_group .github a {
    color: white;

}


.button_group .github:hover {
    background-color: var(--text-color);
    color: white;
    transition: all 0.3s ease;

    .top {
        transform: translateY(-300%);
    }

    .bottom {
        transform: translateY(-176%);
    }

}




.button_group .livedemo {
    color: var(--text-color);
    background-color: transparent;
    font-weight: 500;

}

.button_group .livedemo:hover {
    background-color: var(--text-color);
    transition: all 0.3s ease;

    a {
        color: white;

    }

}

.project-links a {
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.project-links a:hover {
    text-decoration: underline;
}





@media(max-width:560px) {
    * {
        cursor: auto;
    }

    .nav-right>a {
        display: none;

    }

    .toggle-hamburger {
        display: flex;

    }

    .Hero_Details img {
        height: 180px;
        width: 180px;
    }

    .toggle-hamburger i {
        cursor: pointer;

    }

    .sidebar.show {
        transform: translateX(0);
    }

    .curosr-outline,
    .cursor-dot {
        display: none;
    }



}